{% extends "_base.html.jinja" %}

{% block title %}Niklas Elsbrock{% endblock %}

{% block main %}
<main class="card">
	<div class="main-info">
		<h1>Niklas&nbsp;Elsbrock</h1>
		<p>Softwareentwickler und Informatikstudent</p>
	</div>
	<hr />
	<nav>
		<ul>
			<li><a class="link-github" href="https://github.com/nelsbrock">GitHub</a></li>
			<li><a class="link-email" href="mailto:mail@nelsbrock.de">E-Mail</a></li>
			<li><a class="link-pgp-key" href="/niklas_elsbrock.asc">PGP</a></li>
		</ul>
	</nav>
</main>
{% endblock %}