{% extends "_base.html.jinja" %}

{% block title %}Datenschutz &ndash; Niklas Elsbrock{% endblock %}

{% block main %}
<main>
    <h1>Datenschutz</h1>
    <p>Verantwortlich für diese Website ist</p>
    <address>
        Niklas Elsbrock<br />
        <a href="mailto:mail@nelsbrock.de">mail@nelsbrock.de</a>
    </address>

    <h2>Keine Erfassung von Besucherinformationen</h2>
    <p>
        Beim Besuch der Website unter www.nelsbrock.de werden keine
        personenbezogenen Daten verarbeitet. Zugriffsprotokolle sind
        deaktiviert.
    </p>

    <hr />

    <p>
        <a href="/" data-icon="&#xf060;">Zurück zur Hauptseite</a>
    </p>
</main>
{% endblock %}